.div {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--black);
}

.formContainer {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin-top: 50px;
  width: 30%;
}

.forms {
  display: flex;
  flex-direction: column;
}
