@keyframes bounce {
  0% {
    transform: scale(1.05);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.03);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
    transform: scale(1.03);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.userCard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px 200px;
}

.homeBody {
  display: flex;
  padding: 5px;
  position: relative;
  min-height: 100%;
  animation: fadeIn 1s ease-in forwards;
}

.pokeCardContainer {
  display: flex;
  flex-direction: column;
  width: 250px;
  min-height: 100%;
  border-radius: 20px;
  justify-content: center;
}

.pokeCardContainer:hover {
  animation: bounce 0.8s ease-in-out forwards;
}

.userPokeCard {
  text-align: center;
}

.imgClassName {
  border-radius: 20px;
  justify-self: center;
  width: 100%;
  min-height: 100%;
}

.statsDivWrapper {
  width: 250px;
  height: 100%;
  position: absolute;
}

.homeStats {
  display: flex;
  column-gap: 5px;
  padding-right: 15px;
  justify-content: flex-end;
}

.typographyHeader {
  width: 100%;
  height: 170px;
  display: fixed;
  justify-content: center;
  padding: 50px;
  background-color: orangered;
  background-position: contain;
}
