.navBarContainer {
  background-color: var(--gray);
  padding: 10px 10px 1px 10px;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  column-gap: 15px;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  padding-right: 30px;
}

li {
  width: 20%;
  font-family: "Red Hat Display", sans-serif;
}

a {
  text-decoration: none;
  color: var(--black);
  transition: font-weight 0.4s ease, background 0.4s ease-in-out;
}

a:hover {
  font-weight: 800;
}

a:active {
  color: orangered;
}

.searchGo {
  display: flex;
  flex-direction: row;
  width: 95%;
  height: 100%;
  position: relative;
}

.navSearchBtn {
  background-color: var(--black);
  border-style: none;
  border-radius: 0 20px 20px 0;
  color: white;
  position: absolute;
  left: 95%;
}

.navSearchBtn:hover {
  background-color: orangered;
  font-weight: 500;
}

.searchBar {
  background-color: rgba(154, 171, 171, 0.406);
  border-style: none;
  border-radius: 20px 0 0 20px;
  color: orangered;
  width: 95%;
  padding-left: 15px;
}
