@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");

:root {
  --black: #252525;
  --offwhite: #fbfefb;
  --white: rgb(249, 248, 245);
  --nude: #efe5dcbe;
  --arch: "Archivo Black", serif;
  --stac: "Staatliches", sans-serif;
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Oxygen", sans-serif;
}

body {
  margin: 0;
  background-color: var(--offwhite);
}

.centered {
  margin: 3rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  /* font-family: "Staatliches", sans-serif; */
  font-family: "Archivo Black", serif;
  font-size: 200%;
}

.fishFinderPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 50px;
  margin-top: 50px;
}

.fishFinderBar {
  display: grid;
  grid-template-columns: 85% 15%;
  width: 25%;
}

.fishFinderInput {
  width: 100%;
  height: 100%;
}

.fishFinderBtn {
  color: var(--white);
  font-family: "Archivo Black", serif;
  background-color: var(--black);
  height: 100%;
  width: 100%;
  border-style: none;
  transition: background 1s ease;
}

.fishFinderBtn:hover,
.questModalBtn:hover {
  background-color: orangered;
}

.fishCard {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: var(--nude);
  width: 37%;
  height: 600px;
  display: flex;
  justify-content: center;
  row-gap: 17px;
  border-radius: 10px;
  align-items: center;
}

.fishCard > :first-child > img {
  border: solid 15px var(--white);
  border-radius: 20px;
  padding: 15px;
}

.fishCard > :first-child > h1 {
  font-family: "Staatliches", serif;
  letter-spacing: 5px;
  font-size: 40px;
}

.fishCard > :nth-child(2) > h3 {
  font-family: "Staatliches", serif;
  letter-spacing: 5px;
  font-size: 40px;
}

.fishCardsDisplay {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
  justify-items: center;
  padding: 20px;
}

.fishCardDisplay {
  width: 100%;
  height: 600px;
  text-align: center;
  background-color: var(--nude);
  background: linear-gradient(to bottom, var(--nude), var(--offwhite));
  border-radius: 10px;
  align-content: center;
  justify-items: center;
  display: grid;
  grid-template-rows: 65% 25% 10%;
  padding-top: 20px;
}

.fishCardDisplay > :first-child {
  width: 50%;
  padding: 10px;
  align-content: center;
  justify-items: center;
}

.fishCardDisplay > :first-child > img {
  border: solid 10px var(--offwhite);
  border-radius: 10px;
  padding: 10px;
}

.fishCardDisplay > :nth-child(2) {
  padding-top: 50px;
}

.fishCardDisplay > :nth-child(3) {
  display: flex;
  flex-direction: row;
}

.questOnBtn,
.completeBtn {
  border-style: none;
  border-radius: 5px;
  width: 100px;
  height: 30px;
  color: var(--offwhite);
  font-family: "Staatliches", serif;
  letter-spacing: 3px;
  background-color: var(--black);
}

.questOnBtn:hover,
.completeBtn:hover {
  background-color: orangered;
}

.fishCardBtns {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 20px;
  justify-content: space-around;
}

/* .profileHeader {
  margin-top: 50px;
  width: 350px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.userCards {
  margin-top: 50px;
  padding: 20px 300px;
  display: grid;
  grid-template-columns: repeat(5, 20%);
  column-gap: 30px;
  row-gap: 30px;
  background-image: url(/images/oceanwaters.png);
  background-size: cover;
  height: 100vh;
}

.userCard {
  background-color: var(--nude);
  display: grid;
  grid-template-rows: 15% 35% 40% 10%;
  width: 100%;
  border-radius: 10px 10px 0 0;
  height: 450px;
  position: relative;
  padding: 15px;
}

.userCardImg {
  text-align: center;
} */

/* .userCardBtn {
  z-index: 1;
  position: absolute;
  border-style: none;
  border-radius: 5px;
  width: 100px;
  height: 30px;
  color: var(--offwhite);
  font-family: "Staatliches", serif;
  letter-spacing: 3px;
  background-color: var(--black);
} */

.createPostDisplay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(0, 0, 0, 0.7);
  justify-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.createPostForm {
  margin-top: 50px;
  width: 30%;
  position: fixed;
  background: var(--nude);
  border-radius: 10px;
  top: 5%;
  left: 35%;
  z-index: 100;
  overflow: hidden;
  align-content: center;
  height: 80%;
}

.createPostInput {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 8px 20px;
}

/*
display: grid;
grid-template-columns: 30% 70%;
align-items: center;
*/

.pokecardstatus {
  background-color: var(--nude);
  color: white;
  border-radius: 10px 10px 0 0;
}

.userPokedexCard {
  background-color: var(--nude);
  display: grid;
  grid-template-rows: 15% 35% 15% 10% 20% 15%;
  height: 550px;
}

.userPokedexCard > :nth-child(4) {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.userPokedexCard > :nth-child(6) {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.userPokedexCard > :first-child {
  text-align: center;
}

.userProfileCards {
  width: 50%;
  justify-self: center;
  margin-top: 50px;
}
.userProfileCards > h1 {
  font-family: var(--stac);
  letter-spacing: 5px;
  font-size: 40px;
}

.userProfileCard {
  padding: 15px;
  background-color: var(--nude);
  display: grid;
  grid-template-rows: 15% 35% 40% 10%;
  width: 100%;
  border-radius: 10px 10px 0 0;
  height: 650px;
}

.stats {
  display: flex;
  background-color: white;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  height: 100px;
  align-items: center;
  border-radius: 0 0 10px 10px;
}

/* .AnglerComStats {
  display: flex;
  background-color: white;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  height: 60px;
  align-items: center;
  border-radius: 0 0 10px 10px;
} */

.quest-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(0, 0, 0, 0.7);
  justify-items: center;
}

.quest-modal {
  position: fixed;
  background: var(--nude);
  border-radius: 10px;
  top: 30vh;
  bottom: 30vh;
  left: 25%;
  width: 50%;
  z-index: 100;
  overflow: hidden;
  text-align: center;
  align-content: center;
}

.quest-modal > div {
  display: flex;
  align-items: center;
  row-gap: 5px;
}

.quest-input {
  display: flex;
  flex-direction: column;
}

.questModalBtn {
  border-style: none;
  border-radius: 5px;
  width: 140px;
  height: 50px;
  color: var(--offwhite);
  font-family: "Staatliches", serif;
  letter-spacing: 3px;
  background-color: var(--black);
}

.questModalBtnContainer {
  margin-top: 35px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
