@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

:root {
  --black: #252525;
  --gwey: #6b6b6b;
  --offwhite: rgb(245, 245, 247);
  --white: rgb(255, 255, 255);
  --nude: #dedfe3;
  --dgray: #81818130;
  --gray: #f0f0f06a;
  --nudeopaque: #efe5dc;
  --arch: "Archivo Black", serif;
  --stac: "Montserrat", sans-serif;
}

@keyframes bounce {
  0% {
    transform: scale(1.05);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.03);
  }
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Oxygen", sans-serif;
}

body {
  margin: 0;
  background-color: var(--white);
}

.centered {
  margin: 3rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  /* font-family: "Staatliches", sans-serif; */
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #434343;
}

.fishFinderPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 50px;
  margin-top: 50px;
}

.fishFinderBar {
  display: grid;
  grid-template-columns: 85% 15%;
  width: 25%;
}

.fishFinderInput {
  width: 100%;
  height: 50px;
  border-radius: 20px 0 0 20px;
  padding: 15px;
  border: solid 1px var(--gwey);
  border-right: none;
}

.fishFinderBtn {
  color: var(--white);
  background-color: var(--black);
  height: 100%;
  width: 100%;
  border-style: none;
  transition: background 1s ease;
  border-radius: 0 20px 20px 0px;
  border: solid 1px var(--black);
}

.fishFinderBtn:hover,
.questModalBtn:hover {
  background-color: orangered;
  border: solid 1px orangered;
}

.fishCard {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: auto;
  height: auto;
  justify-content: center;
  row-gap: 17px;
  border-radius: 20px;
  align-items: center;
  border: 1px solid var(--nude);
  padding: 15px;
}

.fishCard > :first-child {
  padding: 15px;
}

.fishCard > :first-child > img {
  border: solid 15px var(--white);
  border-radius: 20px;
  padding: 15px;
}

.fishCard > :first-child > h1 {
  font-family: "Staatliches", serif;
  letter-spacing: 5px;
  font-size: 40px;
}

.fishCard > :nth-child(2) > h3 {
  font-family: "Staatliches", serif;
  letter-spacing: 5px;
  font-size: 40px;
}

.fishCardsDisplay {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
  justify-items: center;
  padding: 20px;
}

.fishCardDisplay {
  width: 100%;
  min-height: 600px;
  text-align: center;
  border-radius: 20px;
  align-content: center;
  justify-items: center;
  display: grid;
  grid-template-rows: 60% 25% 15%;
  padding-top: 20px;
  border: 1px solid var(--nude);
}

.fishCardDisplay > :first-child {
  width: 50%;
  padding: 10px;
  align-content: center;
  justify-items: center;
}

.fishCardDisplay > :first-child > img {
  border-radius: 20px;
  border: 1px solid var(--white);
}

.fishCardDisplay > :nth-child(2) {
  padding-top: 50px;
}

.fishCardDisplay > :nth-child(3) {
  display: flex;
  flex-direction: row;
  padding: 0 0 15px 0;
}

.questOnBtn,
.completeBtn {
  border-style: none;
  border-radius: 20px;
  width: 140px;
  height: 50px;
  color: var(--offwhite);
  font-family: var(--stac);
  background-color: var(--black);
  transition: background 1s ease;
  justify-self: center;
}

.questOnBtn:hover,
.completeBtn:hover {
  background-color: orangered;
}

.fishCardBtns {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 20px;
  justify-content: space-around;
  padding: 0 15px 30px 15px;
}

.createPostDisplay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: rgba(0, 0, 0, 0.7);
  justify-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.createPostForm {
  background: white;
  border-radius: 20px;
  z-index: 100;
  height: 70%;
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.createPostInput {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5px 40px;
}

.createPostInput > input,
.createPostInput > select,
.createPostInput > textarea,
.createPostInput > label {
  background-color: white;
  border-radius: 20px;
  height: 50px;
  border: 1px solid var(--dgray);
  box-shadow: none;
  padding: 0 20px;
}

input[type="date"] {
  color: var(--gwey);
}

.createPostInput > label {
  text-align: center;
  align-content: center;
  background-color: #252525;
  color: var(--white);
  font-family: var(--stac);
  transition: background 1s ease;
}

.createPostInput > select {
  color: var(--gwey);
}

.createPostInput > label:hover {
  background-color: orangered;
}

.createPostInput > textarea {
  height: 80px;
  padding-top: 10px;
}

.pokecardstatus {
  background-color: var(--nude);
  color: white;
  border-radius: 10px 10px 0 0;
}

.userPokedexCard {
  background-color: var(--nude);
  display: grid;
  grid-template-rows: 15% 35% 15% 10% 20% 15%;
  height: 550px;
}

.userPokedexCard > :nth-child(4) {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.userPokedexCard > :nth-child(6) {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.userPokedexCard > :first-child {
  text-align: center;
}

.userProfileCards {
  width: 50%;
  justify-self: center;
  margin-top: 50px;
}

.userProfileCard {
  padding: 15px;
  background-color: var(--nude);
  display: grid;
  grid-template-rows: 15% 35% 40% 10%;
  width: 100%;
  border-radius: 10px 10px 0 0;
  height: 650px;
}

.stats {
  display: flex;
  background-color: white;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  height: 100px;
  align-items: center;
  border-radius: 0 0 10px 10px;
}

.quest-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(0, 0, 0, 0.7);
  justify-items: center;
}

.quest-modal {
  position: fixed;
  background: var(--nude);
  border-radius: 10px;
  top: 30vh;
  bottom: 30vh;
  left: 25%;
  width: 50%;
  z-index: 100;
  overflow: hidden;
  text-align: center;
  align-content: center;
}

.quest-modal > div {
  display: flex;
  align-items: center;
  row-gap: 5px;
}

.quest-input {
  display: flex;
  flex-direction: column;
}

.questModalBtn {
  border-style: none;
  border-radius: 20px;
  width: 140px;
  height: 50px;
  color: var(--offwhite);
  font-family: var(--stac);
  background-color: var(--black);
  transition: background 1s ease;
}

.questModalBtnContainer {
  margin-top: 35px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.uploadPhoto {
  display: flex;
  justify-content: center;
  margin: 10px 25%;
}
