@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");

:root {
  --black: #252525;
  --offwhite: #fbfefb;
  --white: rgb(249, 248, 245);
  --nude: #efe5dc;
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Oxygen", sans-serif;
}

body {
  margin: 0;
  background-color: var(--offwhite);
}

.centered {
  margin: 3rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  /* font-family: "Staatliches", sans-serif; */
  font-family: "Archivo Black", serif;
  font-size: 200%;
}

.fishFinderPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 50px;
}

.fishFinderBar {
  display: grid;
  grid-template-columns: 85% 15%;
  width: 25%;
}

.fishFinderInput {
  width: 100%;
  height: 100%;
}

.fishFinderBtn {
  color: var(--white);
  font-family: "Archivo Black", serif;
  background-color: var(--black);
  height: 100%;
  width: 100%;
  border-style: none;
  transition: background 1s ease;
}

.fishFinderBtn:hover {
  background-color: orangered;
}

.fishCard {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: var(--nude);
  width: 37%;
  height: 600px;
  display: flex;
  justify-content: center;
  row-gap: 17px;
  border-radius: 10px;
  align-items: center;
}

.fishCard > img {
  border: solid 15px var(--white);
  border-radius: 20px;
}

.fishCard > h1 {
  font-family: "Staatliches", serif;
  letter-spacing: 5px;
  font-size: 40px;
}

.fishCard > h3 {
  font-family: "Staatliches", serif;
  letter-spacing: 5px;
  font-size: 40px;
}

.fishCardsDisplay {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
  justify-items: center;
}

.fishCardDisplay {
  width: 100%;
  height: 600px;
  text-align: center;
  background-color: var(--nude);
  background: linear-gradient(to bottom, var(--nude), var(--offwhite));
  border-radius: 10px;
  align-content: center;
}
